<%- include( '../Partials/adminHeader' ) -%>

    <div class="screen-overlay"></div>

    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin" class="brand-wrap">
                <img src="/adminAsset/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <div style="height: 645px;">
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link " href="/admin/adminDashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item  has-submenu">
                        <a class="menu-link" href="#"> <i class="icon material-icons md-local_mall"></i>
                            <span class="text">Products</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/products">Product</a>
                            <a href="/admin/productList">List product</a>
                        </div>
                    </a>
                </li>
            
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminOrders"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminReturnReq"> <i class="icon material-icons md-request_quote"></i>
                        <span class="text">Return Request</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminBanner"> <i class="icon material-icons md-ad_units"></i>
                        <span class="text">Banner</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminCoupon"> <i class="icon material-icons md-payments"></i>
                        <span class="text">Coupon</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminOffers"> <i class="icon material-icons md-card_membership"></i>
                        <span class="text">Offers</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/getAdminCategories"> <i class="icon material-icons md-category"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item">
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/adminUser"> <i class="icon material-icons md-account_circle"></i>
                            <span class="text">User</span></a>
                    </li>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="/admin/salesReport"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Sales report</span>
                    </a>
                </li>
            </ul>
            </div>
            <hr>
                <ul class="menu-aside">
                    <li class="menu-item">
                        <a class="menu-link" href=""> <i class="icon material-icons md-settings"></i>
                            <span class="text">Settings</span>
                        </a>
                    </li>
                </ul>
        </nav>
    </aside>

    <main class="main-wrap">
        
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/adminAsset/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item text-danger" href="/admin/adminLogout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Dashboard </h2>
                    <p>Whole data about your business here</p>
                </div>
                <div>
                    <a href="#" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Create report</a>
                </div>
            </div>
            <!-- Boxes -->
            <div class="row">
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Revenue</h6>
                                <span>₹<%= revenue %></span>
                                <span class="text-sm">
                                    Shipping fees are not included
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Orders</h6> <span><%= orders %></span>
                                <span class="text-sm">
                                    Excluding orders in transit
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Products</h6> <span><%= product%></span>
                                <span class="text-sm">
                                    Blocked and Unblocked
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Monthly Earning</h6> <span>₹<%= monthlyOrders[0].monthlySales %></span>
                                <span class="text-sm">
                                    of <%= monthlyOrders[0]._id %>.
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Sale statistics -->
                <div class="col-xl-8 col-lg-12">
                    <div class="card mb-4">
                        <article class="card-body">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12">
                                  <div class="card mb-4">
                                    <article class="card-body">
                                      <h5 class="card-title">Sale statistics</h5>
                                      <canvas id="myChart" height="120px"></canvas>
                                    </article>
                                  </div>
                                </div>
                        </article>
                    </div>
                </div>
                <!-- New members -->
                <div class="row col-xl-4 col-lg-12">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="text-brand mb-20">New Members</h5>
                            <div class="new-member-list">
                                <% users.forEach((user)=>{ %>
                                    <div class="d-flex align-items-center justify-content-between mb-4">
                                        <div class="d-flex align-items-center">
                                            <!-- <img src="/adminAsset/imgs/people/avatar4.jpg" alt="" class="avatar"> -->
                                            <div>
                                                <h6><%= user.name %></h6>
                                                <p class="text-muted font-xs">
                                                    <%= user.email %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                <% }) %>
                            </div>
                        </article>
                    </div>
                </div>
                
            </div>
            <!-- Latest orders -->
            <div class="card mb-4">
                <header class="card-header">
                    <h4 class="card-title">Latest orders</h4>
                </header>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Payment status</th>
                                        <th scope="col">Order status</th>
                                        <th scope="col" class="text-end"> Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% latestOrders.forEach((order)=>{ %>
                                        <tr>
                                            <td><%= order.createdAt.toLocaleString('en-US',{year: 'numeric', month: 'numeric', day: 'numeric'}) %></td>
                                            <td><b><%= order.address.name %></b></td>
                                            <td>₹<%= order.totalAmount %></td>
                                            <td>
                                                <% if(order.paymentStatus === 'Pending') { %>
                                                    <span class="badge rounded-pill alert-warning"><%= order.paymentStatus %></span>
                                                <% } %>
                                            </td>
                                            <td>
                                                <% if(order.orderStatus === 'Cancelled') {%>
                                                    <span class="badge rounded-pill alert-danger"><%= order.orderStatus %></span>
                                                <% }else if(order.orderStatus === 'Returned') { %>
                                                    <span class="badge rounded-pill alert-warning"><%= order.orderStatus %></span>
                                                <% }else if(order.orderStatus === 'Delivered') { %>
                                                    <span class="badge rounded-pill alert-success"><%= order.orderStatus %></span>
                                                <% } else { %>
                                                    <span class="badge rounded-pill alert-info"><%= order.orderStatus %></span>
                                                <% } %>
                                            </td>
                                            <td class="text-end">
                                                <a href="/admin/adminViewOrder?id=<%= order._id %>" class="btn btn-md rounded font-sm">View order</a>
                                            </td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- table-responsive end// -->
                </div>
            </div>
        </section> <!-- content-main end// -->
        


        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
            yearlySales = JSON.parse(
              `<%= JSON.stringify(yearlySales) %>`
                .replace(/&#34;/g, '"')
                .replace(/&#123;/g, "{")
                .replace(/&#125;/g, "}")
            );
            monthlySales = JSON.parse(
              `<%= JSON.stringify(monthlySales) %>`
                .replace(/&#34;/g, '"')
                .replace(/&#123;/g, "{")
                .replace(/&#125;/g, "}")
            );
            weeklySales = JSON.parse(
              `<%= JSON.stringify(weeklySales) %>`
                .replace(/&#34;/g, '"')
                .replace(/&#123;/g, "{")
                .replace(/&#125;/g, "}")
            );
          
            var ctx = document.getElementById("myChart").getContext("2d");
            var chart = new Chart(ctx, {
              type: "line",
              data: {
                datasets: [
                  {
                    label: "Last 5 Years",
                    tension: 0.3,
                    fill: true,
                    backgroundColor: "rgba(44, 120, 220, 0.2)",
                    borderColor: "rgba(44, 120, 220)",
                    data: yearlySales,
                  },
                  {
                    label: "Last 5 Months",
                    tension: 0.3,
                    fill: true,
                    backgroundColor: "rgba(4, 209, 130, 0.2)",
                    borderColor: "rgb(4, 209, 130)",
                    data: monthlySales,
                  },
                  {
                    label: "Last 5 Weeks",
                    tension: 0.3,
                    fill: true,
                    backgroundColor: "rgba(380, 200, 230, 0.2)",
                    borderColor: "rgb(380, 200, 230)",
                    data: weeklySales,
                  },
                ],
              },
              options: {
                plugins: {
                  legend: {
                    labels: {
                      usePointStyle: true,
                    },
                  },
                },
              },
            });
          </script>


<%- include( '../Partials/adminFooter' ) -%>
