<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/adminAsset/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/adminAsset/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>

    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin" class="brand-wrap">
                <img src="/adminAsset/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link " href="/admin/adminDashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminOrders"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminAddProduct"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminTransactions"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-add_circle"></i>
                        <span class="text">ADD</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/getAdminCategories">Add Categories</a>
                        <a href="/admin/adminAddCoupon">Add Coupon</a>
                        <a href="/admin/adminAddBanner">Add Banner</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminReviews"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminBrands"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="/admin/adminStatistics"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li>
            </ul>
            <hr>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminSettings"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                </li>
                <li class="menu-item disabled">
                    <a class="menu-link" href="/admin/adminStarterPage"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>

    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/adminAsset/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item text-danger" href="/admin/adminLogout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>

        <section class="content-main">
            <div class="content-header row">
                <div class="col-lg-6">
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Add, edit or delete a category</p>
                </div>
                <div class=" col-lg-6 row">
                    <div class="col-lg-4">
                        <a href="/admin/getAdminCategories" class="btn btn-primary btn-sm rounded">Create new</a>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" placeholder="Search Categories" class="form-control bg-white">
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-8">
                            <div class="table-responsive">
                                <table class="table table-hover" style="width: 650px;">
                                    <thead>
                                        <tr>
                                            <th>Category Id</th>
                                            <th>Category name</th>
                                            <th>Status</th>
                                            <th class="text-end">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% category.forEach((categ)=>{ %>

                                            <tr>
                                                <td><%= categ._id %></td>
                                                <td><b><%= categ.categoryName %></b></td>
                                                <td><b><%= categ.status %></b></td>

                                                <td class="row" style="display: flex; justify-content: flex-end;">
                                                    <button class="btn btn-primary col-lg-6 p-0 me-2" style="width: 70px; align-items: center; display: flex; justify-content: center;">
                                                        <a href="/admin/adminEditCategories?id=<%= categ._id %>" style="text-decoration: none; color: #fff;">Edit</a>
                                                    </button>
                                                    <% if(categ.status === "Active") {%>
                                                        <button class="btn btn-danger col-lg-6" style="width: 70px; align-items: center; display: flex; justify-content: center;">
                                                            <a href="/admin/adminBlockCategories?id=<%= categ._id %>" style="text-decoration: none; color: aliceblue;">Block</a>
                                                        </button>
                                                    <% } else if(categ.status === "Inactive") { %>
                                                        <button class="btn btn-success col-lg-6" style="width: 70px; align-items: center; display: flex; justify-content: center;">
                                                            <a href="/admin/adminUnblockCategories?id=<%= categ._id %>" style="text-decoration: none; color: aliceblue;">Unblock</a>
                                                        </button>
                                                    <% } %>
                                                </td>
                                            </tr>
                                        <% }) %>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- .col// -->

                        <% if( locals.editCategory ) {%>
                            <div class="col-md-4">
                                <form method="post" action="/admin/postAdminEditCategories?id=<%= selectedCategory._id %>" id="CategoryValidation">
                                    <div class="mb-3">
                                        <label for="categoryName" class="form-label">Category Name</label>
                                        <input value="<%= selectedCategory.categoryName %>" type="text" placeholder="Type here" class="form-control" id="categoryName" name="categoryName"/>
                                        <div class="text-danger" id="validatecategoryName" style="display: none;">Please add valid category name</div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="categoryStatus" class="form-label">Status</label>
                                        <select class="form-select" name="categoryStatus" id="categoryStatus">
                                            <option value="Active" <%= selectedCategory.status === 'Active' ? 'selected' : '' %>>Active</option>
                                            <option value="Inactive" <%= selectedCategory.status === 'Inactive' ? 'selected' : '' %>>Inactive</option>
                                        </select>
                                    </div>

                                    <div class="d-grid">
                                        <button class="btn btn-primary" type="submit">Edit category</button>
                                    </div>
                                </form>
                            </div>
                        <% } else { %>
                            <div class="col-md-4">
                                <form method="post" action="/admin/postAdminAddCategories" id="CategoryValidation">
                                    <div class="mb-3">
                                        <label for="categoryName" class="form-label">Category Name</label>
                                        <input type="text" placeholder="Type here" class="form-control" id="categoryName" name="categoryName" />
                                        <div class="text-danger" id="validatecategoryName" style="display: none;">Please add valid category name</div>
                                        <% if (locals.categoryExist ) { %>
                                            <div class="text-danger" id="ExistCategoryName">Category name is already exist</div>
                                        <% } %>
                                    </div>
                                    <div class="mb-3">
                                        <label for="categoryStatus" class="form-label">Status</label>
                                        <select class="form-select" name="categoryStatus" id="categoryStatus">
                                            <option>Active</option>
                                            <option>Inactive</option>
                                        </select>
                                    </div>
                                    <div class="d-grid">
                                        <button class="btn btn-primary" type="submit">Create category</button>
                                    </div>
                                </form>
                            </div>
                        <% } %>
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>

    </main>
    <script src="/adminAsset/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/adminAsset/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/adminAsset/js/vendors/select2.min.js"></script>
    <script src="/adminAsset/js/vendors/perfect-scrollbar.js"></script>
    <script src="/adminAsset/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/adminAsset/js/main.js" type="text/javascript"></script>
</body>


<script>
    document.addEventListener('DOMContentLoaded', function(){
        document.querySelector('#CategoryValidation').addEventListener('submit' , function(event){
            const existCheck = document.querySelector('.category').getAttribute('data-category')
            console.log(existCheck);
            const categoryName = document.getElementById('categoryName').value

            if(categoryName.trim() === ""){
                document.getElementById('validatecategoryName').style.display = "block";
                event.preventDefault();
            }else{
                document.getElementById('validatecategoryName').style.display = "none";
            }
            
        })
    })
</script>

<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
</html>

