<%- include( '../Partials/adminHeader' ) -%>


    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin" class="brand-wrap">
                <img src="/adminAsset/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <div style="height: 645px;">
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link " href="/admin/adminDashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item  has-submenu">
                        <a class="menu-link" href="#"> <i class="icon material-icons md-local_mall"></i>
                            <span class="text">Products</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/products">Product</a>
                            <a href="/admin/productList">List product</a>
                        </div>
                    </a>
                </li>
            
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminOrders"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminReturnReq"> <i class="icon material-icons md-request_quote"></i>
                        <span class="text">Return Request</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminBanner"> <i class="icon material-icons md-ad_units"></i>
                        <span class="text">Banner</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminCoupon"> <i class="icon material-icons md-payments"></i>
                        <span class="text">Coupon</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminOffers"> <i class="icon material-icons md-card_membership"></i>
                        <span class="text">Offers</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/getAdminCategories"> <i class="icon material-icons md-category"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminUser"> <i class="icon material-icons md-account_circle"></i>
                        <span class="text">User</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" disabled href="/admin/salesReport"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Sales report</span>
                    </a>
                </li>
            </ul>
            </div>
            <hr>
                <ul class="menu-aside">
                    <li class="menu-item">
                        <a class="menu-link" href=""> <i class="icon material-icons md-settings"></i>
                            <span class="text">Settings</span>
                        </a>
                    </li>
                </ul>
        </nav>
    </aside>

    <main class="main-wrap" id="main-wrap">
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Sales report</h2>
                </div>
                
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3 d-flex">
                        <div class="col-lg-8 col-md-6 me-auto">
                            <form method="post" action="/admin/filterReport">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label>Start date</label>
                                        <input type="date" name="startDate" class="form-control" />
                                    </div>
                                    <div class="col-lg-3">
                                        <label>End date</label>
                                        <input type="date" name="endDate" class="form-control" />
                                    </div>
                                    <div class="col-lg-3" style="display: flex;flex-direction: column;">
                                        <label class="form-label">Status</label>
                                        <select class="status form-select" name="status">
                                            <% if(locals.status){ %>
                                                <option value="All" <% if ( status === 'All') { %>selected<% } %>>All status</option>
                                                <option value="Cancelled" <% if ( status === 'Cancelled') { %>selected<% } %>>Cancelled</option>
                                                <option value="Returned" <% if ( status === 'Returned') { %>selected<% } %>>Returned</option>
                                                <option value="Failed" <% if ( status === 'Failed') { %>selected<% } %>>Failed</option>
                                                <option value="Delivered" <% if ( status === 'Delivered') { %>selected<% } %>>Delivered</option>
                                                <option value="Placed" <% if ( status === 'Placed') { %>selected<% } %>>Placed</option>
                                            <% }else{ %>
                                                <option value="All">All status</option>
                                                <option value="Cancelled">Cancelled</option>
                                                <option value="Returned">Returned</option>
                                                <option value="Failed">Failed</option>
                                                <option value="Delivered">Delivered</option>
                                                <option value="Placed">Placed</option>
                                            <% } %>
                                            
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <br>
                                        <button type="submit" id="filter" class="btn btn-primary"><i class="text-muted material-icons md-tune"></i>Filter</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- <div class="col-lg-2 col-md-6 me-auto"></div> -->
                        <div class="col-lg-4 col-md-6 me-auto mt-20" style="display: flex; justify-content: flex-end;height: 45px;">
                            <a id="createReport" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Create report</a>
                        </div>
                    </div>
                </header>
                <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Ordered Date</th>
                                    <th>Order Id</th>
                                    <th>Name</th>
                                    <!-- <th>Product Name</th> -->
                                    <!-- <th>Quantity</th> -->
                                    <th>Total Amount</th>
                                    <!-- <th>Delivered on</th> -->
                                    <th>Order Status</th>
                                    <th>Payment Method</th>
                                    <th><Address></Address></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% orders.forEach((order)=>{ %>
                                    <tr>
                                        <td><%= order.createdAt.toLocaleString('en-US', { day: 'numeric', month: 'numeric', year: 'numeric' }) %></td>
                                        <td><%= order._id %></td>
                                        <td><%= order.address.name %></td>
                                        <!-- <% order.products.forEach((product, index) => { %>
                                            <td><%= product.productId.productName %></td>
                                            <td><%= product.quantity %></td>
                                            <% if (index < order.products.length - 1) { %>
                                                <hr>
                                            <% } %>
                                        <% }) %> -->
                                        <td><%= order.totalAmount %></td>
                                        <% if(order.orderStatus === 'Cancelled'){ %>
                                            <td style="color: red;"><%= order.orderStatus %></td>
                                        <% }else if(order.orderStatus === 'Returned'){ %>
                                            <td style="color: rgb(212, 140, 7);"><%= order.orderStatus %></td>
                                        <% }else if(order.orderStatus === 'Failed'){ %>
                                            <td style="color: red;"><%= order.orderStatus %></td>
                                        <% }else if(order.orderStatus === 'Delivered'){ %>
                                            <td style="color: green;"><%= order.orderStatus %></td>
                                        <% }else if(order.orderStatus === 'Placed'){ %>
                                            <td style="color: rgb(0, 196, 235);"><%= order.orderStatus %></td>
                                        <% } %>
                                        <td><%= order.paymentMethod %></td>
                                        
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div> <!-- table-responsive//end -->
                </div>
                <!-- card-body end// -->
            </div>
        </section> <!-- content-main end// -->

<footer class="main-footer font-xs">
    <div class="row pb-30 pt-15">
        <div class="col-sm-6">
            <script>
            document.write(new Date().getFullYear())
            </script> ©, Televisão - Ecommerce .
        </div>
        <div class="col-sm-6">
            <div class="text-sm-end">
                All rights reserved
            </div>
        </div>
    </div>
</footer>
</main>


<script src="/adminAsset/js/vendors/jquery-3.6.0.min.js"></script>
<script src="/adminAsset/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/adminAsset/js/vendors/select2.min.js"></script>
<script src="/adminAsset/js/vendors/perfect-scrollbar.js"></script>
<script src="/adminAsset/js/vendors/jquery.fullscreen.min.js"></script>
<script src="/adminAsset/js/vendors/chart.js"></script>
<!-- Main Script -->
<script src="/adminAsset/js/main.js" type="text/javascript"></script>



<script>
    document.addEventListener('DOMContentLoaded',function(){
        // Create Report
        document.getElementById('createReport').addEventListener('click',function(){
            document.getElementById('offcanvas_aside').style.display = 'none';
            document.getElementById('filter').style.display = 'none';
            document.getElementById('createReport').style.display = 'none';
            document.getElementById('main-wrap').style.marginLeft = '0';
            window.print()
            document.getElementById('offcanvas_aside').style.display = 'block';
            document.getElementById('filter').style.display = 'block';
            document.getElementById('createReport').style.display = 'block';
            document.getElementById('main-wrap').style.marginLeft = '300px';
        })
    })
</script>


</html>