<%- include('../Partials/userHeader')  -%>



    
    <main class="main">
        <!-- Model-body -->
        <!-- <% featuredProducts.forEach((product)=>{ %>
            <div class="modal fade custom-modal show" id="onloadModal" tabindex="-1" aria-labelledby="onloadModalLabel" aria-modal="true" role="dialog" style="display: block;">
                <div class="modal-dialog">
                <div class="modal-content">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="modal-body">
                            <div class="deal" style="background-image: url('<%= product.imageUrl[0].path %>')">
                                <div class="deal-top">
                                    <h2 class="text-brand">Deal of the Day</h2>
                                    <h5>Limited quantities.</h5>
                                </div>
                                <div class="deal-content">
                                    <h6 class="product-title"><a href="shop-product-right.html">Summer Collection New Morden Design</a></h6>
                                    <div class="product-price"><span class="new-price">$139.00</span><span class="old-price">$160.99</span></div>
                                </div>
                                <div class="deal-bottom">
                                    <p>Hurry Up! Offer End In:</p>
                                    <div class="deals-countdown" data-countdown="2025/03/25 00:00:00"><span class="countdown-section"><span class="countdown-amount hover-up">05</span><span class="countdown-period"> days </span></span><span class="countdown-section"><span class="countdown-amount hover-up">13</span><span class="countdown-period"> hours </span></span><span class="countdown-section"><span class="countdown-amount hover-up">14</span><span class="countdown-period"> mins </span></span><span class="countdown-section"><span class="countdown-amount hover-up">04</span><span class="countdown-period"> sec </span></span></div>
                                    <a href="shop-grid-right.html" class="btn hover-up">Shop Now <i class="fi-rs-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                </div>
                </div>
            </div>
        <% }) %> -->
        
        
        <section class="home-slider position-relative pt-50">
            <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">
                <% Banners.forEach((banner)=>{ %>
                    <div class="single-hero-slider single-animation-wrap">
                        <div class="container">
                            <div class="row align-items-center slider-animated-1">
                                <div class="col-lg-5 col-md-6">
                                    <div class="hero-slider-content-2">
                                        <h4 class="animated"><%= banner.offerType %></h4>
                                        <h2 class="animated fw-900"><%= banner.subTitle %></h2>
                                        <h1 class="animated fw-900 text-brand"><%= banner.mainTitle %></h1>
                                        <p class="animated"><%= banner.offers %></p>
                                        <a class="animated btn btn-brush btn-brush-3" href="/allCategory"> Shop Now </a>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-6">
                                    <div class="single-slider-img single-slider-img-1">
                                        <img class="animated slider-1-1" src="<%= banner.image[0].path %>" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
            <div class="slider-arrow hero-slider-1-arrow"></div>
        </section>
        <!-- Service details -->
        <section class="featured section-padding position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/userAssets/imgs/theme/icons/feature-1.png" alt="">
                            <h4 class="bg-1">Free Shipping</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/userAssets/imgs/theme/icons/feature-2.png" alt="">
                            <h4 class="bg-3">Online Order</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/userAssets/imgs/theme/icons/feature-3.png" alt="">
                            <h4 class="bg-2">Save Money</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/userAssets/imgs/theme/icons/feature-4.png" alt="">
                            <h4 class="bg-4">Promotions</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/userAssets/imgs/theme/icons/feature-5.png" alt="">
                            <h4 class="bg-5">Happy Sell</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/userAssets/imgs/theme/icons/feature-6.png" alt="">
                            <h4 class="bg-6">24/7 Support</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Featured Popular New  -->
        <section class="product-tabs section-padding position-relative wow fadeIn animated">
            <div class="bg-square"></div>
            <div class="container">
                <div class="tab-header">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Featured</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab" data-bs-target="#tab-two" type="button" role="tab" aria-controls="tab-two" aria-selected="false">Popular</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab" data-bs-target="#tab-three" type="button" role="tab" aria-controls="tab-three" aria-selected="false">New added</button>
                        </li>
                    </ul>
                    <a href="/allCategory" class="view-more d-none d-md-flex">View More<i class="fi-rs-angle-double-small-right"></i></a>
                </div>
                <!--End nav-tabs-->
                <div class="tab-content wow fadeIn animated" id="myTabContent">
                    <!--Featured Product-->
                    <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                        <div class="row product-grid-4">
                            <% featuredProducts.forEach((product)=>{ %>
                                <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                    <div class="product-cart-wrap mb-30"  style="height: 380px;">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom" style="height: 200px;">
                                                <a href="/viewProduct?id=<%= product._id %>">
                                                    <img class="default-img"src="<%= product.imageUrl[0].path %>" alt="Product img">
                                                </a>
                                            </div>
                                            <div class="product-action-1">
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up addToWishlist" data-productId="<%= product._id %>"><i class="fi-rs-heart"></i></a>
                                            </div>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="hot">Featured</span>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href="#"><%= product.productBrand %></a>
                                            </div>
                                            <h2><a href="/viewProduct?id=<%= product._id %>"><%= product.productName %></a></h2>
                                            <div class="rating-result" title="90%">
                                                <span>
                                                    <span>90%</span>
                                                </span>
                                            </div>
                                            <div class="product-price">
                                                <span>₹<%= product.productPrice %></span>
                                                <span class="old-price">₹<%= product.productPromoPrice %></span>
                                                <span class="save-price  font-md color3 ml-15 text-danger" style="font-size: small;"><%=Math.round(100-((product.productPrice /product.productPromoPrice)*100))%>% off</span>
                                            </div>
                                            <div class="product-action-1 show">
                                                <a aria-label="Add To Cart" class="action-btn hover-up addToCart" data-productId="<%= product._id %>" ><i class="fi-rs-shopping-bag-add"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        </div>  
                        <!--End product-grid-4-->
                    </div>
                    <!--Popular-->
                    <div class="tab-pane fade" id="tab-two" role="tabpanel" aria-labelledby="tab-two">
                        <div class="row product-grid-4">
                            <% popularProducts.forEach((popProduct)=>{ %>
                                <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                    <div class="product-cart-wrap mb-30"  style="height: 380px;">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom" style="height: 200px;">
                                                <a href="/viewProduct?id=<%= popProduct._id %>">
                                                    <img class="default-img"src="<%= popProduct.imageUrl[0].path %>" alt="Product img">
                                                </a>
                                            </div>
                                            <div class="product-action-1">
                                                <!-- <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a> -->
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/addToWishlist?id=<%= popProduct._id %>"><i class="fi-rs-heart"></i></a>
                                            </div>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="best">Poupar</span>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href="#"><%= popProduct.productBrand %></a>
                                            </div>
                                            <h2><a href="/viewProduct?id=<%= popProduct._id %>"><%= popProduct.productName %></a></h2>
                                            <div class="rating-result" title="90%">
                                                <span>
                                                    <span>90%</span>
                                                </span>
                                            </div>
                                            <div class="product-price">
                                                <span>₹<%= popProduct.productPrice %></span>
                                                <span class="old-price">₹<%= popProduct.productPromoPrice %></span>
                                            </div>
                                            <div class="product-action-1 show">
                                                <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                        <!--End product-grid-4-->
                    </div>
                    <!--New added-->
                    <div class="tab-pane fade" id="tab-three" role="tabpanel" aria-labelledby="tab-three">
                        <div class="row product-grid-4">
                            <% newAddedProducts.forEach((newProduct)=>{ %>
                                <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                    <div class="product-cart-wrap mb-30"  style="height: 380px;">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom" style="height: 200px;">
                                                <a href="s/viewProduct?id=<%= newProduct._id %>">
                                                    <img class="default-img"src="<%= newProduct.imageUrl[0].path %>" alt="Product img">
                                                </a>
                                            </div>
                                            <div class="product-action-1">
                                                <!-- <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a> -->
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/addToWishlist?id=<%= newProduct._id %>"><i class="fi-rs-heart"></i></a>
                                            </div>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="new">New added</span>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href="#"><%= newProduct.productBrand %></a>
                                            </div>
                                            <h2><a href="/viewProduct?id=<%= newProduct._id %>"><%= newProduct.productName %></a></h2>
                                            <div class="rating-result" title="90%">
                                                <span>
                                                    <span>90%</span>
                                                </span>
                                            </div>
                                            <div class="product-price">
                                                <span>₹<%= newProduct.productPrice %></span>
                                                <span class="old-price">₹<%= newProduct.productPromoPrice %></span>
                                            </div>
                                            <div class="product-action-1 show">
                                                <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                        <!--End product-grid-4-->
                    </div>
                    
                </div>
                <!--End tab-content-->
            </div>
        </section>

        <!-- Popular Brands -->
        <section class="popular-categories section-padding mt-15 mb-25">
            <div class="container wow fadeIn animated">
                <h3 class="section-title mb-20"><span>Popular</span> Brands</h3>
                <div class="carausel-6-columns-cover position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows"></div>
                    <div class="carausel-6-columns" id="carausel-6-columns">
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden card-1-figure popularBrandsCard">
                                <a href="" class="popularBrands" style="color: black;">SAMSUNG</a>
                            </figure>
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden card-1-figure popularBrandsCard">
                                <a href="" class="popularBrands " style="color: black;">VU</a>
                            </figure>
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden card-1-figure popularBrandsCard">
                                <a href="" class="popularBrands " style="color: black;">LG</a>
                            </figure>
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden card-1-figure popularBrandsCard">
                                <a href="" class="popularBrands " style="color: black;">SONY</a>
                            </figure>
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden card-1-figure popularBrandsCard">
                                <a href="" class="popularBrands " style="color: black;">TCL</a>
                            </figure>
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden card-1-figure popularBrandsCard">
                                <a href="" class="popularBrands " style="color: black;">MI</a>
                            </figure>
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden card-1-figure popularBrandsCard">
                                <a href="" class="popularBrands " style="color: black;">ACER</a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    


    <script>
        document.addEventListener('DOMContentLoaded', function(){

            // Add to cart
            document.querySelectorAll('.addToCart').forEach((element)=>{
                element.addEventListener('click', function(event){
                  
                    event.preventDefault();
                    const productId = element.getAttribute('data-productId');
                    fetch(`addToCart?id=${productId}`)
                    
                    .then((response)=>{
                        if(!response.ok){
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        }
                        return response.json()
                    })

                    .then((data)=>{
                        if(data.outOfStock){
                            console.log("out of stock:", data);
                            Swal.fire({
                                position : 'top-center',
                                icon : 'error',
                                title : 'out of stock',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }else{
                            console.log("Added to cart:", data);
                            Swal.fire({
                                position : 'top-center',
                                icon : 'success',
                                title : 'Added to cart',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                    })

                    .catch((err)=>{
                        console.log(err);
                        Swal.fire({
                            position : 'top-center',
                            icon : 'error',
                            title : 'Please login, after you can explore Televisão',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    })

                })
            })

            // Add to wishlist 
            document.querySelectorAll('.addToWishlist').forEach((element)=>{
                element.addEventListener('click', function(event){
                  
                    event.preventDefault();
                    const productId = element.getAttribute('data-productId');
                    fetch(`/addToWishlist?id=${productId}`)
                    
                    .then((response)=>{
                        if(!response.ok){
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        }
                        return response.json()
                    })

                    .then((data)=>{
                        if(data.productExist){
                            console.log("Product already exist in wishlist:", data);
                            Swal.fire({
                                position : 'top-center',
                                icon : 'error',
                                title : 'Product already exist in wishlist',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }else{
                            console.log("Added to wishlist:", data);
                            Swal.fire({
                                position : 'top-center',
                                icon : 'success',
                                title : 'Added to wishlist',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                    })

                    .catch((err)=>{
                        console.log(err);
                    })

                })
            })


        })
    </script>

<%- include('../Partials/userFooter')  -%>
