<%- include('../Partials/userHeader')  -%>


    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Wishlist
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col" colspan="2">Product</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Action</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% products.forEach((product)=>{ %>
                                        <tr>
                                            <td class="image product-thumbnail"><img src="<%= product.productId.imageUrl[0].path %>" alt="#"></td>
                                            <td class="product-des product-name">
                                                <h5 class="product-name"><a href=""><%= product.productId.productName %></a></h5>
                                                <p class="font-xs"><%= product.productId.productBrand %> | <%= product.productId.productSize %> | <%= product.productId.productResolution %> </p>
                                            </td>
                                            <td class="price" data-title="Price"><span>₹ <%= product.productId.productPrice %></span></td>
                                            <td class="text-right" data-title="Cart">
                                                <button class="btn btn-sm">
                                                    <a data-productId="<%= product.productId._id %>" class="addToCart" style="text-decoration: none; color: #fff;"><i class="fi-rs-shopping-bag mr-5"></i>Add to cart</a>
                                                </button>
                                            </td>
                                            <td class="action" data-title="Remove"><a href="/wishlistDelete?id=<%= product.productId._id %>"><i class="fi-rs-trash text-danger"></i></a></td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    

    <script>
        document.addEventListener('DOMContentLoaded', function(){
             document.querySelectorAll('.addToCart').forEach((element)=>{
                element.addEventListener('click', function(event){
                  
                    event.preventDefault();
                    const productId = element.getAttribute('data-productId');
                    fetch(`addToCartFromWhilshlist?id=${productId}`)
                    
                    .then((response)=>{
                        if(!response.ok){
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        }
                        return response.json()
                    })

                    .then((data)=>{
                        console.log(data);
                        if(data.outOfStock){
                            console.log("out of stock:", data);
                            Swal.fire({
                                position : 'top-center',
                                icon : 'error',
                                title : 'out of stock',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }else{
                            console.log("Added to cart:", data);
                            Swal.fire({
                                position : 'top-center',
                                icon : 'success',
                                title : 'Added to cart',
                                showConfirmButton: false,
                                timer: 1500
                            })
                            setTimeout(()=>{
                                window.location.href = '/wishlist';
                            },1000)
                        }
                    })

                    .catch((err)=>{
                        console.log(err);
                    })

                })
            })
        })
    </script>

    <%- include('../Partials/userFooter')  -%>