<%- include('../Partials/userHeader')  -%>



    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> All category
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">

                        <div class="shop-product-fillter style-2">
                            <div class="totall-product">
                                <p> We found <strong class="text-brand"><%= products.length %></strong> items for you!</p>
                            </div>
                        </div>

                        <div class="product-list mb-50">
                            <% products.forEach((product)=>{ %>
                                <div class="product-cart-wrap">
                                    <a href="/viewProduct?id=<%= product._id %>">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <div class="product-img-inner">
                                                    <img class="default-img" src="<%= product.imageUrl[0].path %>" alt="">
                                                </div>
                                            </div>
                                            <div class="product-action-1">
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up addToWishlist" data-productId="<%= product._id %>"><i class="fi-rs-heart"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <%= product.productBrand %>
                                            </div>
                                            <h2><a href="/viewProduct?id=<%= product._id %>"><%= product.productName %></a></h2>
                                            <div class="product-price">
                                                <span>₹ <%= product.productPrice %></span>
                                                <span class="old-price">₹ <%= product.productPromoPrice %></span>
                                                <span class="save-price  font-md color3 ml-15 text-danger" style="font-size: small;"><%=Math.round(100-((product.productPrice /product.productPromoPrice)*100))%>% off</span>
                                            </div>
                                            <p class="mt-15" style="width: 70ch; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"><%= product.productDescription %></p>
                                            <div class="product-action-1 show">
                                                <a aria-label="Buy now" data-productId="<%= product._id %>" class="action-btn addToCart"><i class="fi-rs-shopping-bag-add"></i>Add to Cart</a>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            <% }) %>
                        </div>
                        <!--pagination-->
                        <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                            <div aria-label="Page navigation example">
                                <div class="pagination justify-content-start">
                                    <ul class="pagination justify-content-start">
                                        <% for (let i = 1; i <= totalPages; i++) { %>
                                            <% if (i == page) { %>
                                            <li class="page-item active">
                                                <a class="page-link"><%= i %></a>
                                            </li>
                                            <% } else { %>
                                            <li class="page-item">
                                                <a href="?page=<%= i %>" class="page-link">
                                                    <%= i %> 
                                                </a>
                                            </li>
                                            <% } %>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- sidebar -->
                    <!-- sidebar -->
                    <!-- sidebar -->
                    <div class="col-lg-3 primary-sidebar sticky-sidebar">
                        <!-- Poular Brands -->
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Poular Brands</h5>
                            <ul class="categories">
                                <li><a href="/allCategory?brand=SAMSUNG">SAMSUNG</a></li>
                                <li><a href="/allCategory?brand=LG">LG</a></li>
                                <li><a href="/allCategory?brand=ACER">ACER</a></li>
                                <li><a href="/allCategory?brand=VU">VU</a></li>
                                <li><a href="/allCategory?brand=SONY">SONY</a></li>
                                <li><a href="/allCategory?brand=MI">MI</a></li>
                            </ul>
                        </div>
                        <!-- Fillter By Price -->
                        <form method="post" action="/fillter" class="sidebar-widget price_range range mb-30">
                            <% if(locals.popularBrand) {%>
                                <input type="text" name="brand" value="<%= popularBrand %>" style="display: none;">
                            <% } %>
                            <div class="widget-header position-relative mb-20 pb-10">
                                <h5 class="widget-title mb-10">Fill by price</h5>
                                <div class="bt-1 border-color-1"></div>
                            </div>
                            <div class="price-filter">
                                <div class="price-filter-inner">
                                    <div id="slider-range"></div>
                                    <div class="price_slider_amount">
                                        <div class="label-input form-group">
                                            <span>Range:</span><input type="text" id="amount" name="priceRange" placeholder="Add Your Price" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sort mb-10 mt-10">
                                <label for="sort" class="fw-900">Sort by</label>
                                <div class="radio-buttons d-flex flex-column">
                                    <div class="">
                                        <input type="radio" class="form-check-input" name="sort" value="lowToHigh" style="height: 18px; width: 18px; margin-right: 4px;">
                                        <label for="sort">Low to High</label>
                                    </div>
                                    <div class="">
                                        <input type="radio" class="form-check-input" name="sort" value="highToLow" style="height: 18px; width: 18px; margin-right: 4px;">
                                        <label for="sort">High to Low</label>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group">
                                <div class="list-group-item mb-10 mt-10">
                                    <label class="fw-900">Size</label>
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="inches55" id="inches55" value="55 inches">
                                        <label class="form-check-label" for="inches55"><span>55 Inches</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="inche65" id="inches65" value="65 inches">
                                        <label class="form-check-label" for="inches65"><span>65 Inches</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="inches75" id="inches75" value="75 inches">
                                        <label class="form-check-label" for="inches75"><span>75 Inches</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="inches85" id="inches85" value="85 inches">
                                        <label class="form-check-label" for="inches85"><span>85 Inches</span></label>
                                    </div>
                                    <label class="fw-900 mt-15">Resolution</label>
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="720p" id="720p" value="720p">
                                        <label class="form-check-label" for="720p"><span>720p</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="1080p" id="1080p" value="1080p">
                                        <label class="form-check-label" for="1080p"><span>1080p</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="4K" id="4K" value="4K">
                                        <label class="form-check-label" for="4K"><span>4K</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="8K" id="8K" value="8K">
                                        <label class="form-check-label" for="8K"><span>8K</span></label>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-sm btn-default"><i class="fi-rs-filter mr-5"></i> Fillter</button>
                            <a href="/allCategory" class="btn btn-sm btn-default"><i class="fi-rs-cross mr-5"></i> Clear</a>
                        </form>
                        <!-- Product sidebar Widget -->
                        <div class="sidebar-widget product-sidebar  mb-30 p-30 bg-grey border-radius-10">
                            <div class="widget-header position-relative mb-20 pb-10">
                                <h5 class="widget-title mb-10">New products</h5>
                                <div class="bt-1 border-color-1"></div>
                            </div>
                            <% newAddedProducts.forEach((product)=>{ %>
                                <div class="single-post clearfix">
                                    <div class="image">
                                        <img src="<%= product.imageUrl[0].path %>" alt="Product image">
                                    </div>
                                    <div class="content pt-10">
                                        <h5><a href="/viewProduct?id=<%= product._id %>"><%= product.productName %></a></h5>
                                        <p class="price mb-0 mt-5">₹ <%= product.productPrice %></p>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </main>
    

    <script>
        document.addEventListener('DOMContentLoaded', function(){

            // Add to Cart
            document.querySelectorAll('.addToCart').forEach((element)=>{
                element.addEventListener('click', function(event){
                  
                    event.preventDefault();
                    const productId = element.getAttribute('data-productId');
                    fetch(`addToCart?id=${productId}`)
                    
                    .then((response)=>{
                        if(!response.ok){
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        }
                        return response.json()
                    })

                    .then((data)=>{
                        console.log("Added to cart:", data);
                        Swal.fire({
                            position : 'top-center',
                            icon : 'success',
                            title : 'Added to cart',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    })

                    .catch((err)=>{
                        console.log(err);
                    })

                })
            })

            // Add to wishlist 
            document.querySelectorAll('.addToWishlist').forEach((element)=>{
                element.addEventListener('click', function(event){
                  
                    event.preventDefault();
                    const productId = element.getAttribute('data-productId');
                    fetch(`/addToWishlist?id=${productId}`)
                    
                    .then((response)=>{
                        if(!response.ok){
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        }
                        return response.json()
                    })

                    .then((data)=>{
                        if(data.productExist){
                            console.log("Product already exist in wishlist:", data);
                            Swal.fire({
                                position : 'top-center',
                                icon : 'error',
                                title : 'Product already exist in wishlist',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }else{
                            console.log("Added to wishlist:", data);
                            Swal.fire({
                                position : 'top-center',
                                icon : 'success',
                                title : 'Added to wishlist',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                    })

                    .catch((err)=>{
                        console.log(err);
                    })

                })
            })
        })
    </script>
<%- include('../Partials/userFooter')  -%>
